* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gemunu Libre', sans-serif;
}

/* NAVBAR */
.navbar {
    background: #4cb5ff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbarLogo {
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
}

.navbarMenu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbarItem {
    height: 80px;
}

.navbarLinks {
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbarBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    width: 100%;
    border-radius: 20px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #1e2330;
    background: #FFF;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
}

.button:hover {
    background: #ff232b;
    color: #FFF;
    transition: all 0.3s ease;
}

.navbarLinks:hover {
    color: #ff232b;
    transition: all 0.3s ease;
}

/* Mobile Responsive */
@media screen and (max-width: 960px) {
    .navbarContainer {
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        z-index: 1;
    }
    
    #navbarLogo {
        padding-left: 25px;
    }
    
    .navbarMenu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }
    .navbarMenu.active {
        background: #4cb5ff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 2.1rem;
    }

    .navbarItem {
        height: 100%;
    }

    .navbarLinks {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbarBtn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    
    .navbarToggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        display: block;
        cursor: pointer;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section */
.main {
    background-color: #ffffee;
} 

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #ffffee;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.mainContent {
    width: 100%;
}

.mainContent h1 {
    font-size: 3.5rem;
    color: #1e2330;
}

.textHighlight {
    color:#af0034;
}

.mainContent p {
    font-size: 2.5rem;
    margin-top: 8px;
    font-weight: 100;
    color: #1e2330;
}

.mainBtn {
    font-size: 1rem;
    padding: 14px 32px;
    background: #cfcfc4;
    border: none;
    border-radius: 20px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.mainBtn a {
    position: relative;
    z-index: 2;
    color: #1e2330;
    text-decoration: none;
}

.mainBtn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background: #ff232b;
    transition: all 0.35s;
    border-radius: 20px;
}

.mainBtn:hover:after{
    width: 100%;
}

.mainImgContainer {
    
    text-align: center;
}

#mainImg {
    height: 350px;
    width: auto;
    background: #cfcfc4;
    border-radius: 20px;
}

/* Mobile Responsive */
@media screen and (max-width: 864px) {
    .mainContainer {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .mainContent {
        text-align: center;
        margin-bottom: 4rem;
    }

    .mainContent h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .mainContent p {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .mainContent h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .mainContent p {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .mainBtn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}
/* Leaderboard Section */
.lb {
    background: #ffffee;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    top: 0;
}

.lbContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 100px 50px;
}

.lbMenu{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}
.title {
    margin: 20rem 2rem 0 2rem;
}

.title h1{
    font-size: 3.5rem;
    color: #1e2330;
    text-align: left;
}

.lbBtn{
    height: 50px;
    width: 45%;
    font-size: 1rem;
    padding: 14px 32px;
    background: #cfcfc4;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    outline: none;
}

.lbBtn a {
    position: relative;
    z-index: 2;
    color:#1e2330;
    text-decoration: none;
}

.year {
    height: 50px;
    padding: 14px 32px;
    margin-top: 2rem;
    background: #cfcfc4;
    border: none;
    border-radius: 4px;
}

.lbBtn:hover, .year:hover {
    background: #ff232b;
    color: #fff;
    transition: all 0.3s ease;
}

.Lbs {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.Lbs img {
    height: auto;
    width: 25%;
    background: #fff;
}

.card {
    background-color: #fff;
    font-size: 0.7rem;
    padding: 8px;
    width: 48%;
    min-width: 400px;
}

table {
    
    border-collapse: collapse;
}

thead, th{
    padding: 5px 10px;
    background-color: #4cb5ff;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5rem;
}

td {
    font-size: 1.5rem;
    text-align: center;
    padding: 5px 10px;
}

tr:nth-child(even){
    background-color: #ffffee;
}

tr:hover {
    background-color: #af0034;
    color:#ffffee;
}

/* Mobile Responsive */
@media screen and (max-width: 864px) {
    
    .lbContainer {
        display: block;
        margin-top: 10rem;
        
    }
    
    .lbMenu{
        display: block;
        
    }
    
    .lbBtn{
        width: 100%;
        min-width: 475px;
    }

    .year{
        width: 100%;
        text-align: center;
        min-width: 475px;
    }

    .Lbs {
        display: block;
        margin-top: 10rem;
        
    }

    .title h1{
        text-align: center;
    }

    .Lbs img {
        height: auto;
        width: 80%;
        background: #fff;
        display:block;
        margin: 2.5rem auto;
    }
    .card{
        width:55%;
    }
    table {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Footer Section */
.footerContainer {
    background-color: #ffffee;
    padding: 32.5rem 0 3rem 0;
    text-align: center;
}

.websiteRights {
    font-weight: bold;
    font-style: italic;
    color: #1e2330;
}

/* Mobile Responsive */
@media screen and (max-width: 864px) {
    .footerContainer {
        background-color: #ffffee;
        padding: 155rem 0 3rem 0;
        text-align: center;
    }
}

/* Signup CSS */
.wrapper {
    width: 300px;
    padding: 2rem 1rem;
    margin: 150px auto;
    background-color: #cfcfc4;
    border-radius: 10px;
    text-align: center;
}

.wrapper h1 {
    font-weight: bolder;
    font-size: 2rem;
    color: #af0034;
    margin-bottom: 1.2rem;
}

.wrapper form input{
    width: 92%;
    outline: none;
    border: 1px solid #FFF;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #ffffee;
}

.wrapper button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    cursor: pointer;
    background: #4cb5ff;
}

.wrapper button a{
        color: #1e2330;
        text-decoration: none;
}

.wrapper button:hover{
    background: #ff232bde;
    transition: all 0.3s ease;
}

.wrapper button a:hover{
    color: #FFF;
    transition: all 0.3s ease;
}

.wrapper input:focus{
    border: 2px solid #FFF;
}

.terms {
    margin-top: 0.2rem;
}

.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.terms a{
    color:rgb(17, 107, 143);
    text-decoration: none;
}

.member{
    font-size: 1rem;
    margin-top: 1.4rem;
    color: #1e2330;
}

.member a{
    color: rgb(17, 107, 143);
    text-decoration: none;
;}

/* Login CSS */
.recover {
    text-align: right;
    font-size: 0.8rem;
    margin: 0.3rem 1.4rem 0 0;
}

.recover a{
    text-decoration: none;
    color: #1e2330a6;
}